section{
    height: 700px;
    overflow:auto;
}
h1{
    margin-left: 30px;
}
.article{
    width: 496px;
    border: 2px solid black;
    float: left;
    margin-left: 30px;
}

.article *{
    margin-left: 5px;
    margin-bottom: 5px;
}