section{
    height: 700px;
    overflow:auto;
}
h1{
    margin-left: 30px;
}
.article{
    width: 500px;
    float: left;
    margin-left: 30px;
}

.article *{
    margin-left: 5px;
    margin-bottom: 5px;
}
.adminForm{
    border-bottom: 2px solid grey;
    width: 250px;
}