body{
    background-color: black;
}
header{
    /*overflow: auto;*/
    background-color: red;
    height:130px;
}
nav{
    background-color: blue;
    height:200px;
}
section{
    background-color: yellow;
    height:200px;
}
footer{
    background-color: green;
    height: 200px;
}
#wrapper{
    margin: 0 auto;
    width: 1080px;
}
.mitt{
    /*margin: 0 auto;*/
}
.link{
    background-color: purple;
    width: 300px;
    margin-left: 115px;
}
.link a{
    margin-right: 20px;
    
}
#rUndantag{
    margin-right: 0px;
}
.kategorier div{
    background-color: turquoise;
    width: 70px;
    height: 50px;
    outline: thin solid black;
    margin: 0 auto;
    
}
.kategorier a{
    display: block;
    width: 150px;
    height: 30px;
    background-color: white;
    float: left;
    text-align: center;
    padding-top: 7px;
    text-decoration: none;
    color: black;
}
.kategorier p{
    vertical-align: middle;
}
.dam,.herr{
    margin-right: 40px;
}
#sakerimitten{
    /*margin-left: 26%;*/
    padding-top: 20px;
    float: left;
    margin-left: 5%;
   
}
.searchbar{
    margin-top: 44px;
    margin-left: 100px;
}
.logo{
    margin-left: 10px;
    padding-top: 20px;
    float: left;
}
.over-head{
    width: 100%;
    height: 50px;
    border-bottom: thin solid black;
}
.img-under{
    margin-top: 10px;
}
.img-under-specific{
    margin-right: 11px;
}
.img-under-undan{
    margin-right: 0px;
}