body{
    background-color: white;
}
#wrapper{
    margin: 0 auto;
    width: 1090px;
    border-left: thin solid black;
    border-right: thin solid black;
}
.over-head{
}
header{
    /*overflow: auto;*/
    background-color: red;
    height:90px;
}
nav{
    background-color: blue;
    height:200px;
}
section{
    /*background-color: yellow;*/
    height:200px;
}
footer{
    /*background-color: green;*/
    height: 100px;
    margin-top: 600px;
}
.footer-placering{
    margin-left: 200px;
    border-top: thin solid grey;
    width: 650px;
}
.footer-mid{
    width: 250px;
    float: left;
    margin-left: 20px;
    margin-top: 7px;
}
.footer-mid p{
    margin-bottom: 1px;
    color: black;
}
.footer-right{
    float: left;
    margin-left: -10px;
    margin-top: 5px;
    color: black;
}
.footer-right a{
    color: black;
}
.footer-right p{
    margin-bottom: 3px;
    font-size: 11px;
}
.hjalp{
    width: 70px;
    float: left;
    margin-top: 7px;
    margin-left: 30px;
}.hjalp p{
    margin-bottom: 8px;
}
.hjalp a,p{
    color: black;
    font-size: 11px;
}
.oppettider{
    float: left;
    margin-left: 10px;
}
.oppettider h5,td{
    color: black;
    font-size: 11px;
}

.mitt{
    /*margin: 0 auto;*/
}
.link{
    background-color: red;
    width: 300px;
    margin-left: 125px;
    margin-bottom: 10px;
}
.link a{
    margin-right: 20px;
    
}
#rUndantag{
    margin-right: 0px;
}
.kategorier div{
    background-color: turquoise;
    width: 70px;
    height: 50px;
    outline: thin solid black;
    margin: 0 auto;
    
}
.kategorier a{
    display: block;
    width: 150px;
    height: 30px;
    background-color: white;
    float: left;
    text-align: center;
    padding-top: 7px;
    text-decoration: none;
    color: black;
}
.kategorier p{
    vertical-align: middle;
}
.dam,.herr{
    margin-right: 40px;
}
#sakerimitten{
    /*margin-left: 26%;*/
    padding-top: 20px;
    float: left;
    margin-left: 5%;
   
}
.searchbar{
    margin-top: 54px;
    margin-left: 100px;
}
.logo{
    margin-left: 10px;
    padding-top: 30px;
    float: left;
}
.over-head{
    width: 100%;
    height: 50px;
    border-bottom: thin solid black;
}
.img-under{
    margin-top: 10px;
}
.img-under-specific{
    margin-right: 11px;
}
.img-under-undan{
    margin-right: 0px;
}