header{
    overflow: auto;
    background-color: white;
    height:80px;
    border-bottom: thin solid #C7C7C7;
    box-shadow: 0px 2px 5px #888888;
}
section{
    overflow: hidden;
}
.banner-barn{
    margin-bottom: 5px;
}
.produktalternativ{
    width: 880px;
    overflow-y: scroll;
    height: 700px;
    padding-bottom: 70px;
    
}
.kategorier-meny{
    margin-top: 10px;
    border-right: thin solid grey;
    width: 200px;
    margin-left: 8px;
    height: 620px;
    float:left;
}
.kategorier-meny h4{
    padding-left: 80px;
    padding-top: 10px;
    font-family: 'Droid Serif', serif;
}
.kategorier-meny li{
    padding-left: 10px;
    line-height: 25px;
}
.kategorier-meny li a{
    color: black;
    font-family: 'Droid Serif', serif;
}
.produkter{
    overflow: auto;
    margin-left: 30px;
    outline: thin solid orange;
    width: 250px;
}
.produkter h4{
    text-align: center;
    font-family: 'Droid Serif', serif;
}
.produkter #p{
    margin-left: 10%;
}
.produkter img{
    margin-left: 10%;

}
.produkter .antal{
    float: right;
    width: 50px;
    height: 24px;
    border: thin solid black;
    /*padding-left: -20px;*/

}
.produkter .add{
    background-color: white;
    border: thin solid black;
    /*    position: absolute;*/
    margin-left: -155px;
    font-family: 'Droid Serif', serif;
}
.produkter .add:hover{
    border: thin solid red;
}
.beskrivning{
    border: thin solid orange;
    height: 60px;
    width: 205px;
    margin-left: 10%;
    overflow: auto;
}
.beskrivning p{
    padding-top: 5px;
    padding-left: 2px;
    font-weight: 500;
    line-height: 12px;
}