.produktalternativ{
    width:890px;
    float:left;
    
    
    
}
section{
    overflow:auto;
    
    
}
.banner{
    margin-left: 8px;
}
.produkter{
    float:left;
    
    margin-left:72px;
    margin-top:10px;
}

